
<div class = "hero-unit">
	<h1>Welcome to my One Month Rails page!</h1>
	<p>
		You found the home page for the <%= link_to "One Month Rails", "http://www.google.com" %>
	</p>

	<p>
		<%= link_to "Sign up now", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
		
</div>


